html, body {
    margin: 0;
    height: 100%;
background-color: #e9e9e9;
}

#main {
width:800px; 
margin:0 auto;
height: 100%;
background-color: white;
border-right: 3px solid #ddd;
border-left: 3px solid #ddd;
}

#login{
float: right;
padding: 10px;
}

#menu{
height:200px;
margin: 0 92px;
padding-top: 100px;
}

.menu {
width: 200px;
height:200px;
float:left;
background-color: #dadada;
    margin: 2px;
}

.menu:hover {
background-color: #a2a2a2;
}

.menu > p {
text-align: center;
line-height: 200px;
margin:0;
}

#tools {
height:200px;
margin: 0 92px;
padding-top: 100px;
}

#tools > p {
text-align: center;
}

.tool{
width: 200px;
height:80px;
float:left;
background-color: #dadada;
    margin: 2px;
}

.tool > p {
text-align: center;
line-height: 80px;
margin:0;
}

.tool:hover {
background-color: #a2a2a2;
}

