/*===========================
=========  General
===========================*/
body {
  margin: 0; }
.grid-form-wdith {
  max-width: 560px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
.grid-half {
  width: 50%; }
/*===========================
=========  btn
===========================*/
.btn {
  max-width: 200px;
  background: #32bacc;
  color: #fff;
  border-color: #32bacc;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
.btn:hover {
    color: #32bacc;
    background: transparent; }
/*===========================
=========  Form
===========================*/
.form-wrapper {
  max-width: 480px;
  padding: 10px 20px;
  width: 100%;
  background: #2c997b12;
  border-top: 5px solid #2C997B;
  margin: auto;
  -webkit-box-shadow: 1px 1px 10px #8e8e8e;
          box-shadow: 1px 1px 10px #8e8e8e; }
.form-wrapper--title {
  text-align: center;
  text-transform: uppercase;
  font-family: arial;
  font-size: 18px;
  color: #2b997b;
  margin: 20px 0 0px;
  font-weight: bold; }
.form-wrapper--title span {
    padding: 5px 15px;
    border-bottom: 2px solid; }
.input-group {
  padding: 10px 0; }
.input-group input {
    max-width: 100%;
    padding: 10px 20px;
    border: 1px solid #bfbfbf;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    font-weight: 300; }
.input-group input:focus {
      outline: 0; }
.input-group .btn {
    max-width: 200px;
    background: #32bacc;
    color: #fff;
    border-color: #32bacc;
    margin: auto;
    margin-top: 10px; }
.input-group .btn:hover {
      color: #32bacc;
      background: transparent; }
.response-message {
  font-family: arial;
  font-size: 14px;
  margin: 20px 0 15px; }
.response-message li {
    margin: 5px 0; }
.response-message.response-error {
    color: #fd4a00; }
.response-message.response-success {
    font-size: 16px;
    color: #31bacc; }
.response-message.response-success li {
      list-style: none;
      text-align: center; }
/*===========================
=========  Logo
===========================*/
.logo-wrapper {
  margin: 10px 0 30px; }
.logo-wrapper .logo {
    display: block;
    margin: auto; }
/*===========================
=========  Featured Wrapper
===========================*/
.featured-items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.featured-item {
  color: #26c5f6;
  font-weight: 500;
  font-family: arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-bottom: 11px; }
.featured-item .star-icon {
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
    margin-right: 6px; }
.featured-item .star-icon img {
      display: block;
      width: 100%;
      height: auto; }
.featured-item .featured-content {
    width: calc(100% - 20px); }
/*===========================
=========  Share Wrapper
===========================*/
.share-wrapper {
  text-align: center;
  padding: 1px 20px;
  font-family: Arial; }
.share-wrapper .share-text {
    color: #105296;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px; }
.share-wrapper .share-button {
    display: block;
    padding: 10px 20px;
    font-size: 26px;
    background: #105296;
    color: #f8c901;
    text-decoration: none;
    font-weight: 600;
    border-radius: 42px; }
/*===========================
=========  Transfer Wrapper
===========================*/
.transfer-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 20px 15px; }
.transfer-wrapper .transfer-phone {
    text-align: center; }
.transfer-wrapper .transfer-phone img {
      display: block;
      margin: auto; }
.transfer-wrapper .transfer-info {
    text-align: center; }
.transfer-wrapper .transfer-text {
    max-width: 220px;
    font-size: 13px;
    margin: auto;
    font-weight: bold;
    color: #105296;
    font-family: Arial; }

/*# sourceMappingURL={{ "bundle.css.map" | asset_url }} */
